/* 
  Copyright 2020
  Idess Lee, Mitchell Massie for DubHacks 2020
 */

* {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20vh;
  width: 100vw;
}

main > section {
  margin-top: 5em;
}

h1, h2, h3 {
  font-family: 'Domine', serif;
  font-size: 35px;
  font-weight: 100;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 15px;
}

input, label {
  border: 0.1px solid black;
  height: 35px;
  padding: 1px;
  padding-left: 15px;
}

input::placeholder {
  color: #C4C4C4;
  font-weight: 300;
}

button, button:hover {
  transition-property: color;
  transition-property: background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

button {
  background-color: white;
  color: black;
  border: none;
}

button:focus, button:active {
  border: none;
  outline: none;
}

button:hover {
  color: #ffffff;
  background-color: black;
}

#search-section {
  margin-left: -20vw;
  width: 800px;
}

#search-bar {
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#search-bar input {
  width: 70%;
}

#search-bar button {
  transition: none;
  border: none;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  margin-left: 50px;
}

#search-bar button:hover {
  background-color: white;
  color: black;
}

#hot-topics {
  margin-top: 20vh;
}

.example {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.summary .texts p {
  margin-top: 10px;
}

.senator h3 {
  margin-top: 10px;
}

.senator p {
  margin-top: 5px;
  font-size: 12px;
}

.example section {
  margin-top: 2em;
}

.summary {
  width: 20%;
}

.display-senators {
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 60%;
}

.display-senators .senator {
  margin: 1em;
  width: 120px;
}

.display-senators img {
  width: 120px;
}

.senator {
  margin-left: 16em;
}

.hot-topics-buttons button {
  border: 0.1px solid black;
  padding: 15px 30px 15px 30px;
  margin-right: 1em;
}

.hidden {
  display: none;
}